Repository lorenzo-mignola/lottasvizzera.ch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update daisy
  package-lock.json
  package.json
  src/components/Footer/footer.tsx
Due: eslint --fix, prettier --write

fix: uppercase button daisy
  src/components/Hero/hero-text.tsx
Due: eslint --fix, prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write

chore: update deps
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

fix: tailwind class
  src/components/NavBar/menu-icon.tsx
  src/components/NavBar/page-link.tsx
  src/components/icons/folder.tsx
  src/components/ui/language-switcher.tsx
Due: eslint --fix, prettier --write

fix: suspend error
  src/components/NavBar/drawer-md.tsx
  src/components/NavBar/nav.tsx
  src/components/NavBar/pages.tsx
Due: eslint --fix, prettier --write

fix: shadow language switcher
  src/components/ui/language-switcher.tsx
Due: eslint --fix, prettier --write

feat: change image
  public/images/home.jpg
  public/images/section-atls.jpg
  public/images/section-lotta.jpg
Due: none

chore: add cookie banner
  src/app/page.tsx
Due: eslint --fix, prettier --write

fix: 2024 doc & contacts
  src/app/pages/contacts/page.tsx
  src/app/pages/documents/drive-pages.ts
Due: eslint --fix, prettier --write

fix: typo
  locales/de/home.json
  locales/it/history.json
  locales/it/home.json
Due: prettier --write

feat: use custom cookie consent
  i18n.json
  locales/de/cookie.json
  locales/it/cookie.json
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/app/pages/documents/[year]/drive-documents.tsx
  src/app/pages/documents/[year]/page.tsx
  src/app/pages/training/map.tsx
  src/app/pages/training/page.tsx
  src/components/cookie/cookie-consent.tsx
  src/components/cookie/no-cookie.tsx
  util/constants.ts
  util/hooks/useLangauge.ts
Due: eslint --fix, prettier --write

feat: better style cookie banner
  locales/de/home.json
  src/components/cookie/cookie-consent.tsx
Due: eslint --fix, prettier --write

chore: improve style
  src/app/globals.css
  src/app/layout.tsx
  src/components/Footer/footer.tsx
  src/components/Hero/hero-text.tsx
  src/components/cookie/cookie-consent.tsx
Due: eslint --fix, prettier --write

fix: favicon
  public/images/Ass-ticinese-lotta-svizzera-LOGO-contorno.png
  src/app/favicon.ico
  src/app/icons/apple-icon.png
  src/app/icons/icon.png
Due: none

fix: home icons
  src/app/apple-icon.png
  src/app/icon.png
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: add 404 and error page
  .eslintrc.js
  i18n.json
  package-lock.json
  package.json
  src/app/error.tsx
  src/app/not-found.tsx
Due: eslint --fix, prettier --write

feat: create new alert
  src/app/page.tsx
  src/components/AlertNew/alert-new.tsx
Due: eslint --fix, prettier --write

feat: use cookie to close alert
  locales/de/nav.ts
  locales/it/nav.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/pages/mat/page.tsx
  src/components/AlertNew/alert-new.tsx
  src/components/NavBar/pages.tsx
  src/components/ui/language-switcher.tsx
  types/nav-links.ts
  util/constants.ts
  util/hooks/useAlertNew.ts
Due: eslint --fix, prettier --write

feat: add info email
  src/app/pages/contacts/page.tsx
Due: eslint --fix, prettier --write

feat: add 2025 and others documents folder
  locales/de/documents.json
  locales/it/documents.json
  src/app/pages/documents/drive-pages.ts
  src/app/pages/documents/others/page.tsx
  src/app/pages/documents/page.tsx
Due: eslint --fix, prettier --write

feat: update vicepresident
  src/app/pages/contacts/page.tsx
Due: eslint --fix, prettier --write

feat: update trainings text
  locales/de/training.json
  locales/it/training.json
  src/app/pages/training/map.tsx
Due: eslint --fix, prettier --write

feat: add mat page
  i18n.json
  locales/de/mat.json
  locales/de/nav.ts
  locales/it/mat.json
  locales/it/nav.ts
  locales/it/training.json
  public/images/mat.jpeg
  src/app/pages/mat/page.tsx
  src/components/NavBar/pages.tsx
  types/nav-links.ts
Due: eslint --fix, prettier --write

feat: add schema image
  public/images/mat_schema.jpg
  src/app/pages/mat/page.tsx
Due: eslint --fix, prettier --write

fix: training text
  locales/de/training.json
  locales/it/training.json
Due: prettier --write

chore: fix typo
  locales/it/history.json
Due: prettier --write

chore: add padding on lg screens
  src/app/pages/layout.tsx
  src/components/Sections/section-atls.tsx
  src/components/Sections/section-lotta.tsx
Due: eslint --fix, prettier --write

feat: add fctls links
  locales/de/home.json
  locales/it/home.json
  src/app/page.tsx
  src/app/pages/layout.tsx
  src/components/NavBar/fctls2025-link.tsx
  src/components/NavBar/pages.tsx
  src/components/fctls2025/fctls2025.tsx
Due: eslint --fix, prettier --write

chore: set engines
  package.json
Due: prettier --write

chore: update minor
  package-lock.json
  package.json
Due: prettier --write

feat: update translations
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/app/globals.css
  src/app/i18n/client.ts
  src/app/i18n/i18next.ts
  src/app/i18n/server.ts
  src/app/i18n/settings.ts
  src/app/page.tsx
  src/app/pages/contacts/page.tsx
  src/app/pages/documents/page.tsx
  src/app/pages/history/page.tsx
  src/app/pages/mat/page.tsx
  src/app/pages/training/map.tsx
  src/app/pages/training/page.tsx
  src/components/Card/contacts-card.tsx
  src/components/Footer/footer.tsx
  src/components/Hero/hero-text.tsx
  src/components/NavBar/page-link.tsx
  src/components/Sections/section-atls.tsx
  src/components/Sections/section-lotta.tsx
  src/components/cookie/cookie-consent.tsx
  src/components/fctls2025/fctls2025.tsx
  src/components/ui/language-switcher.tsx
  src/proxy.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix: lint
  eslint.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/i18n/client.ts
  src/app/i18n/i18next.ts
  src/app/i18n/server.ts
  src/app/layout.tsx
  src/app/pages/contacts/page.tsx
  src/app/pages/documents/[year]/drive-documents.tsx
  src/app/pages/documents/[year]/page.tsx
  src/app/pages/documents/drive-pages.ts
  src/app/pages/documents/others/page.tsx
  src/app/pages/documents/page.tsx
  src/app/pages/mat/page.tsx
  src/app/pages/training/page.tsx
  src/components/Card/contacts-card.tsx
  src/components/Hero/hero-text.tsx
  src/components/NavBar/page-link.tsx
  src/components/NavBar/pages.tsx
  src/components/Sections/section-atls.tsx
  src/components/Sections/section-lotta.tsx
  src/components/cookie/cookie-consent.tsx
  src/components/cookie/no-cookie.tsx
  src/proxy.ts
Due: eslint --fix, prettier --write

fix: build
  src/app/i18n/client.ts
  src/app/i18n/settings.ts
  src/app/layout.tsx
  src/app/pages/documents/[year]/page.tsx
  src/app/pages/history/history-content.tsx
  src/app/pages/history/page.tsx
  src/app/pages/mat/mat-content.tsx
  src/app/pages/mat/page.tsx
  src/app/pages/training/page.tsx
  src/app/pages/training/training-content.tsx
  src/components/NavBar/fctls2025-link.tsx
  src/components/NavBar/logo.tsx
  src/components/NavBar/nav.tsx
  src/components/NavBar/page-link.tsx
  src/components/NavBar/pages.tsx
Due: eslint --fix, prettier --write

chore: use node 24
  package-lock.json
  package.json
Due: prettier --write

chore: add eslint next
  .lintstagedrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/pages/documents/page.tsx
  src/components/Card/contacts-card.tsx
  src/proxy.ts
  types/nav-links.ts
Due: eslint --fix, prettier --write

chore: update date on training
  locales/de/training.json
  locales/it/training.json
Due: prettier --write

chore: update to next 16
  package-lock.json
  package.json
  src/app/i18n/i18next.ts
  src/proxy.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: iframe
  src/app/pages/documents/[year]/drive-documents.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{md,css,html,json})
